In [ ]:
# MAP FILTER LAMBDA

In [1]:
def sqr(n):
    return n**2

list(map(sqr,[1,2,3]))

[1, 4, 9]

In [2]:
def identity(n):
    return n

list(map(identity,[1,2,3]))

[1, 2, 3]

In [3]:
sum([1,2,3])

6

In [4]:
sum((1,2,3,4))

10

In [ ]:
SYNTAX OF MAP:
    map(function_name,iterable_name)

In [ ]:
list(map(sum,[[1,1,1],[2,2,2],[3,3,3]]))

In [25]:
list1 = ['python','java','c']
def fun1(string1):
    return (string1,'okay')

mapped_obj = map(fun1,list1)
final_obj = list(mapped_obj)

print(final_obj)

[('python', 'okay'), ('java', 'okay'), ('c', 'okay')]

In [23]:
x = [('python',3),('java',8),('c++',14)]
y = dict(x)


print(y)

{'python': 3, 'java': 8, 'c++': 14}

In [19]:
type(mapped_obj)

map

In [20]:
tuple(mapped_obj)

('p', 'j', 'c')

In [ ]:
Q1) Use map to get these results for the corresponding items in the list.
'potato' => 'gold'
'harpic' => 'hussain'
other_cases => 'oyelucky2oye'
for example:-
initial_list = ['potato','harpic','potato','magic','vishalGupta']
final_obj = ['gold','hussain','gold','oyelucky2oye','oyeluck2oye']

In [27]:
def fun1(string1):
    if string1 == 'potato':
        return 'gold'
    elif string1 == 'harpic':
        return 'hussain'
    else:
        return 'oyeluckyluckyoye'
    
mapped_obj = map(fun1,['potato','harpic','potato','magic','vishalGupta'])

final_obj = list(mapped_obj)
print(final_obj)

['gold', 'hussain', 'gold', 'oyeluckyluckyoye', 'oyeluckyluckyoye']

In [30]:
# Q2 How would we do this without map?
def sqr(n):
    return n**2

list(map(sqr,[1,2,3]))

# convert it into code such it returns same result without using map.

[1, 4, 9]

In [28]:
def sqr(n):
    return n**2
sqr_list = []
for item in [1,2,3]:
    sqr_item = sqr(item)
    sqr_list.append(sqr_item)
    
print(sqr_list)

[1, 4, 9]

In [ ]:
Q3) Return list of length of strings when I give you list of strings using map.
for example:-
input = ['python','java','c']
output = [6,4,1]

In [31]:
list(map(len,['python','java','c']))

[6, 4, 1]

In [32]:
string1 = 'Hi Everyone I am Mohit'
print(string1.split())

['Hi', 'Everyone', 'I', 'am', 'Mohit']

In [37]:
string1 = '11 22 33 44'
list1 = string1.split()

type(list1[0])
print(list1)
## sometimes the need is to convert that str into an int, or typecast it into an int.

['11', '22', '33', '44']

In [41]:
input1 = ['11', '22', '33', '44']
# output1 = [11,22,33,44]

output1 = list(map(int,input1))
print(output1)

[11, 22, 33, 44]

In [42]:
'11'.isnumeric()

True

In [43]:
'ac'.isnumeric()

False

In [ ]:
# By default input() type is ?
# string?

In [44]:
x = input()

print(type(x))

## x will always be a string

22222
<class 'str'>

In [45]:
x = input().split()
print(x)

22 33 44
['22', '33', '44']

In [46]:
x = list(map(int,input().split()))

print(type(x[0]))

22 33 44
<class 'int'>

In [47]:
print(x)

[22, 33, 44]

In [51]:
## multiple arguments in map function

l1 = [1,2,3,4,6000]
l2 = [5,6,7,8,8000]
l3 = [9,10,11,12,4000]

def add_utility(v1,v2,v3):
    return v1+v2+v3

print(list(map(add_utility,l1,l2,l3)))

[15, 18, 21, 24, 18000]

## FILTER
# FILTER(FUN_NAME,ITERABLE_NAME)
# elements corresponding to TRUE

In [52]:
def even(n):
    if n%2==0:
        return True
    return False

filtered_obj = filter(even,[1,2,3,4,5])

final_list = list(filtered_obj)
print(final_list)

[2, 4]

In [ ]:
INPUT1 = ['python','java','c','perl']
output1 = ['python','perl']
using filter

filter items that start with p

In [53]:
def filter_names_starting_with_p(string1):
    if string1[0] == 'p':
        return True
    return False

filtered_obj = filter(filter_names_starting_with_p,['python','java','c','perl'])
final_obj = list(filtered_obj)
print(final_obj)

['python', 'perl']

In [56]:
list1=["python","c","perl","java"]

def p(str1):
	if str1[0] in "p":
		return True
	else:
		return False
a=filter(p,list1)
b=list(a)
print(b)

['python', 'perl']

In [ ]:
list obj not callable

In [1]:
list1 = [1,2,3]

tup = (4,5,6)

converted_from_tuple = list(tup)

## We are using python reserved keywords for naming variables.
## which should never be done.

In [ ]:
## lambda functions OR LAMBDA EXPRESSION

In [2]:
def fun1(a):
    return a+5

In [3]:
fun1(5)

10

In [4]:
fun1(10)

15

In [ ]:
SYNTAX:
name(optional) = lambda input_value:returned_value

# you just studied map and filter, which takes 1st argument as function_name, so you can actually use 
# a lambda function directly there.

In [5]:
fun2 = lambda a:a+5

In [6]:
fun2(5)

10

In [7]:
fun2(10)

15

In [8]:
fun3 = lambda a:a[0]

In [9]:
fun3('python')

'p'

In [10]:
fun3([1,2,3,4])

1

In [ ]:
fun